---
---

@import url(http://fonts.googleapis.com/css?family=Lora);

$landing-header-font: 'Lora', serif;

/* Variables */


/* Global style */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Home page style */

.landing {
  header {
    height: 600px;
    background: linear-gradient(0deg, #3A92FE, #7AB1F7);

    display: flex;
    align-items: center;
    justify-content: center;

    .names {
      width: 500px;
      margin: 0 auto;

      h1, h2 {
        text-align: center;
        font-family: $landing-header-font;
      }

      h1 {
        font-size: 56px;
      }

      h2 {
        font-size: 26px;
      }
    }
  }
}
