---
---
@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

$serif: 'Cardo', serif;
$sans-serif: 'Open Sans', sans-serif;

$footer-height: 150px;
$footer-background: #f9f9f9;

/* Variables */


/* Global style */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

a {
  color: #3A92FE;
  text-decoration: none;
  font-weight: bold;
}

/* Home page style */

.landing {
  header {
    height: 600px;
    background: linear-gradient(0deg, #3A92FE, #7AB1F7);

    display: flex;
    align-items: center;
    justify-content: center;

    .names {
      width: 500px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.2);
      padding: 25px;
      color: white;

      h1, h2 {
        text-align: center;
        font-family: $serif;
      }

      h1 {
        font-size: 56px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 23px;
        font-family: $sans-serif;
        font-weight: 300;
      }
    }
  }

  .features {
    ul {
      width: 90%;
      margin: 0 auto;
      padding: 25px;
      overflow: hidden;

      li {
        list-style-type: none;
        display: inline-block;
        width: 33%;
        height: 190px;
        float: left;
        padding: 30px;

        h3 {
          font-family: $serif;
          margin-bottom: 10px;
          text-align: center;
        }

        .text {
          font-family: $sans-serif;
          font-weight: 300;
        }
      }
    }
  }

  .links {
    height: 200px;
    line-height: 200px;
    background: linear-gradient(0deg, #3A92FE, #7AB1F7);
    text-align: center;

    a {
      color: white;
      font-size: 26px;
      border: 1px solid white;
      border-radius: 5px;
      padding: 20px;
      margin: 20px;
      font-family: $sans-serif;
      font-weight: 300;
    }
  }
}

/* Footer style */

footer {
  height: $footer-height;
  background: $footer-background;

  .copy {
    text-align: center;
    line-height: $footer-height;
    font-size: 16px;
    font-family: $sans-serif;
    font-weight: 300;
  }
}
