@charset "utf-8";

/* Variables */

$text-font-size: 1.2em;

$mobile-size: 768px;

/* Mixins */

@mixin on-desktop() {
  /* Style for large devices */
  @media (min-width: $mobile-size) {
    @content;
  }
}

@mixin on-mobile() {
  /* Style for mobile devices */
  @media (max-width: $mobile-size) {
    @content;
  }
}

/* Style */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}
