<form role="form" action="/signin" method="post">
  <div class="form-group">
    <label for="sign-in-username" class="sr-only">Username</label>
    <input type="text" class="form-control" id="sign-in-username" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="sign-in-password" class="sr-only">Password</label>
    <input type="password" class="form-control" id="sign-in-password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
